@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;800&display=swap');

body {
    height: 100vh;
    background-color: var(--neutral-dark-blue);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.container {
    padding: 4rem;
    background-color: var(--neutral-grayish-blue);
    max-width: 54rem;
    min-height: 32rem;
    border-radius: 1.5rem;
    position: relative;
}

.container .title {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: var(--primary-green);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
    text-align: center;
}

.container .quote {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: var(--primary-cyan);
    font-size: 2.8rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
}

.container .line {
    align-self: center;
    width: 100%;
}

.container .button {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-green);
    background-position: center;
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: ease-in-out 0.1s;
} 

.container .button:hover {
    box-shadow: var(--primary-green) 0px 2px 60px 5px;
}

@media (max-width: 375px) {

    .container {
        width: 35rem;
        min-height: 25rem;
        padding: 3rem;
    }

    .container .title {
        font-size: 1rem;
    }

    .container .quote {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
}

    